POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=retaillake
POSTGRES_USER=retaillake_user
POSTGRES_PASSWORD=change_me

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=change_me
MINIO_SECRET_KEY=change_me

API_BASE_URL=https://dummyjson.com