--
-- PostgreSQL database dump
--

\restrict ta72KJvlhIbFE1Fm7eVOJPi3bDtBWDIaEd11NIEOzgrO2RTGuud6gg5nqddleHd

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vw_sales_dashboard; Type: VIEW; Schema: gold; Owner: retaillake_user
--

CREATE VIEW gold.vw_sales_dashboard AS
 SELECT f.sales_key,
    f.transaction_id,
    f.date_key,
    f.product_key,
    f.customer_key,
    f.store_key,
    f.quantity,
    f.unit_price,
    f.net_sales,
    f.payment_method,
    f.sales_channel,
    d.full_date AS sale_date,
    p.product_name,
    p.category,
    s.store_name,
    s.city,
    s.region,
    c.loyalty_tier
   FROM ((((gold.fact_sales_transaction f
     LEFT JOIN gold.dim_date d ON ((f.date_key = d.date_key)))
     LEFT JOIN gold.dim_product p ON ((f.product_key = p.product_key)))
     LEFT JOIN gold.dim_store s ON ((f.store_key = s.store_key)))
     LEFT JOIN gold.dim_customer c ON ((f.customer_key = c.customer_key)));


ALTER VIEW gold.vw_sales_dashboard OWNER TO retaillake_user;

--
-- PostgreSQL database dump complete
--

\unrestrict ta72KJvlhIbFE1Fm7eVOJPi3bDtBWDIaEd11NIEOzgrO2RTGuud6gg5nqddleHd

